<a routerLink="/juego" class="icon"><img src='assets/img/menustrip/open-book.svg' alt='juego'></a><!--
--><a routerLink="/ficha" class="icon"><img src='assets/img/menustrip/list.svg' alt='ficha'></a><!--
--><a routerLink="/equipo" class="icon"><img src='assets/img/menustrip/backpack.svg' alt='equipo'></a><!--
--><a routerLink="/notas" class="icon"><img src='assets/img/menustrip/notebook.svg' alt='notas'></a><!--
--><a routerLink="/tiradas" class="icon"><img src='assets/img/menustrip/dice.svg' alt='tiradas'></a>
