<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" matchType="Pattern" pattern="^.*/(api|signalr)" ignoreCase="true" negate="true" />
					</conditions>
					<!--<action type="Rewrite" url="/MyApp/" />-->
					<action type="Rewrite" url="/rpg/" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>