<div class="story">
    <h2>Story</h2>
    <div class="historic">
        <ul [id]="storyComponentId" (scroll)="ScrollClick()" *ngIf="storyDM!.HistoryStreamWithNewLines$">
            <li class="message" *ngFor="let Line of storyDM!.HistoryStreamWithNewLines$ | async">
                <div class="datetime">({{Line.date | date:'short'}})</div>
                <div class="who">{{Line.playerName}}</div>
                <div *ngFor="let SubLine of GetLines(Line.text)" class="text">{{SubLine}}</div>
            </li>
        </ul>
    </div>

    <form class="form" #heroForm="ngForm">
        <h2 [class]="lockedClass" >LOCKED</h2>
        <textarea rows="3" [class]="textLockedClass" [ngStyle]="ActiveState()" required [(ngModel)]="model.text" name="text" placeholder="introduce el texto a enviar"></textarea>
        <input type="button" value="Send Text" [class]="buttonLockedClass" [ngStyle]="ActiveState()" name="newtextsubmit" (click)="SendLine()">
    </form>
</div>
